<!-- Rmit University Vietnam
Course: COSC2430 Web Programming
Semester: 2024A
Author: Nhan, Thinh, Duy, Khang, An
ID: s3975356,s3992133, s3986546, s3979209, s4012479   -->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download our App</h3>
                <p>Download app for android and ios mobile phone</p>
                <div class="app-logo">
                    <img src="/images/play-store.png">
                    <img src="/images/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="/images/Homepagelogo.png">
                <p>Purpose</p>
            </div>
            <div class="footer-col-3">
                <h3>Usefull Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Posts</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow Us On</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="secondary-nav">
            <ul>
                <li><a href="copyright">Copyright</a></li>
                <li><a href="ToS">ToS</a></li>
                <li><a href="privacy_policy">Privacy Policy</a></li>
            </ul>
        </div>
        <p class="copyright">Copyright 2024 - Group</p>
    </div>
</div>
