</head>
<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="/homepage.html"><img src="/images/Homepagelogo.png" alt="logo" width="125px"></a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="/">Home</a></li>
                <li><a href="">Products</a></li>
                <li><a href="/about_us">About</a></li>
                <li><a href="/login">Login/Register</a></li>
                <li><a href="/account">Account</a></li>
            </ul>
        </nav>
        <a href="/cart.html"><img src="/images/cart.png" width="30px" height="30px"></a>
        <img src="/images/menu.png" class="menu-icon" onclick="menutoggle()">
    </div>
</div>