</head>
<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="/home_page"><img src="/images/Homepagelogo.png" alt="logo" width="125px"></a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="/home">Home</a></li>
                <li><a href="/detail">Products</a></li>
                <li><a href="/about_us">About</a></li>
                <li><a href="/copyright">FaQs</a></li>
                <li><a href="/contact">Account</a></li>
            </ul>
        </nav>
        <a href="/cart"><img src="/images/cart.png" width="30px" height="30px"></a>
        <img src="/images/menu.png" class="menu-icon" onclick="menutoggle()">
    </div>
</div>