<form id="search-form" action="#" method="GET">
    <input type="text" id="search-query" name="query" placeholder="Search products..." required>
    <button type="submit" id="search-button">Search</button>
  </form>
  