<!-- Rmit University Vietnam
Course: COSC2430 Web Programming
Semester: 2024A
Author: Nhan, Thinh, Duy, Khang, An
ID: s3975356,s3992133, s3986546, s3979209, s4012479   -->

<form id="search-form" action="#" method="GET">
    <input type="text" id="search-query" name="query" placeholder="Search products..." required>
    <button type="submit" id="search-button">Search</button>
  </form>
  