<!-- Rmit University Vietnam
Course: COSC2430 Web Programming
Semester: 2024A
Author: Nhan, Thinh, Duy, Khang, An
ID: s3975356,s3992133, s3986546, s3979209, s4012479   -->




<link rel="stylesheet" href="/css/about_us.css">

<%- include('partials/header') %>

    <body>
        <%- include('partials/nav') %>
            <!--  member board -->
            <div class="member_board hide">
                <!-- whole board -->
                <div class="member_inner">
                    <!-- each member board -->
                    <div class="Nhan_board">
                        <h2>My name is Nguyen Trong Nhan aka Steven</h2>
                        <span>-----------------------------------------------------------------------------------------------------------------------------------------------------</span>
                        <h3>I'm a junior in my second year at RMIT HCM in Vietnam, where I'm following my love of coding
                            and athletics. I'm Nguyen Trong Nhan, and I'm very happy to have this chance to tell you a
                            little
                            bit about myself.

                            <p>I've had a profound affinity for two things since I can remember: code and football.
                                Playing
                                football fosters a sense of togetherness and collaboration that brings me great joy and
                                fulfillment. I will always treasure the experience I had, which included the shared
                                victories, the strategic movements, and the adrenaline rush I had on the field. Football
                                has
                                always been a big part of my life, whether it's a competitive game representing my
                                school or
                                a recreational match with friends.
                            </p>
                            <p>However, the reason I find coding so fascinating is because of its boundless creative and
                                innovative potential. The ability of technology to improve our lives and solve problems
                                intrigues me continuously. I'm constantly excited to explore new coding opportunities
                                and
                                broaden my skill set, whether it's creating a website, creating a mobile app, or delving
                                into the field of data science.</p>

                            <p>I'm appreciative of RMIT HCM for providing me with the chance to pursue my interests and
                                grow both intellectually and personally. My path as a student has been genuinely
                                enhanced by
                                the different perspectives, encouraging community, and experiential learning
                                opportunities.
                                Apart from my studies, I can frequently be found practicing football and relishing the
                                excitement of the game. And you might find me wandering the energetic city of Ho Chi
                                Minh,
                                looking for new experiences and adventures, when I'm not playing sports or lost in lines
                                of
                                code.
                            </p>
                            <p>I can't wait to get to know each of you and gain knowledge from our common experiences.
                                Please get in touch with me; I'm always up for a conversation on anything from sports to
                                coding!</p>


                            <p>Sincerely,</p>
                            <p>Nguyen Trong Nhan - Steven</p>
                        </h3>
                    </div>

                    <div class="Duy_board">
                        <h2>My name is Nguyen Vo Duy</h2>
                        <span>-----------------------------------------------------------------------------------------------------------------------------------------------------</span>
                        <h3>My name is Nguyen Vu Duy, and I am currently a junior majoring in Information Technology at
                            RMIT University. Ever since I was a kid, I have been fascinated by computers and how they
                            work, which naturally led me to pursue a career in IT. I am particularly interested in AI
                            and software development, and I've been involved in several projects and internships that
                            have allowed me to hone my skills in these areas.</h3>

                        <p>In addition to my academic pursuits, I am an avid badminton player. I discovered my passion
                            for badminton in high school and have been playing competitively ever since. The sport not
                            only helps me stay fit but also teaches me valuable lessons in strategy, focus, and
                            perseverance, which I find incredibly beneficial in my studies and future career in IT.
                            Whether it's coding a complex program or competing in a badminton match, I love the
                            challenge and the satisfaction that comes from pushing my limits and achieving my goals.</p>

                        <p>Thank you for taking the time to learn a bit about me. I look forward to connecting with
                            fellow IT enthusiasts and sports aficionados alike!</p>
                    </div>

                    <div class="Khang_board">
                        <h2>My name is Nguyen Huynh Gia Khang</h2>
                        <span>-----------------------------------------------------------------------------------------------------------------------------------------------------</span>
                        <h3>In the "You And Me Shop" web project, I am responsible for the pages that carry static
                            informations such as Fees, FAQs, Copyrigth, Terms of Service, Privacy Policy, and Contact.
                            This role not only demanded a solid undrestanding of legal and organizational elemnts, but
                            also required skills in designing informations to ensure that they are easily accessible and
                            understandable to users.

                            This process has deepend my understanding of the importance of presenting informations in a
                            clear and acessible manner. I have learned how to use language that users can easily
                            understand, while also ensuring the accuracy and comprehensiveness of the necesary
                            informations. Additionally, I have enhanched my programming skills to create websites that
                            are not only user-friendly but also comply with security and privacy requirments.

                            This project was not just a challange but also an oportunity for me to develop soft skills
                            such as team collaboration and problem-solving. Looking back, I am proud of what I've
                            achieved and feel more confident in my ability to manage complex aspects of tech projects.
                        </h3>
                    </div>

                    <div class="Thinh_board">
                        <h2>My name is Lu Duc Thinh</h2>
                        <span>-----------------------------------------------------------------------------------------------------------------------------------------------------</span>
                        <h3>My name is Lu Duc Thinh, and my student identification number is s3992133. I am currently a
                            student majoring in IT at RMIT University. My interest in IT has always been a driving force
                            in my life. The ever-evolving nature of technology has fascinated me, and I am keen to learn
                            deeper into the realms of artificial intelligence, cybersecurity, and software development,
                            so I decided to pursue an IT major. I enjoy studying computer programming languages, data,
                            and artificial intelligence to work with computers. Although my formal IT experience is
                            limited, I have been an enthusiastic self-learner, continually working with computer systems
                            and learning through personal projects and online resources. In addition, when I am not
                            immersed in my studies, I enjoy amusing myself with different hobbies. I find excitement in
                            playing badminton, hanging out with my friends, or playing video games sometimes.</h3>
                    </div>

                    <div class="An_board">
                        <h2>My name is Cao Tran Gia An</h2>
                        <span>-----------------------------------------------------------------------------------------------------------------------------------------------------</span>
                        <h3>My name is Cao Tran Gia An, a student at RMIT University in Vietnam, who specializes in
                            fullstack development with a focus on backend technologies. My main responsibilities include
                            developing server-side software that ensures robust backend functionality and seamless
                            integration with frontend systems. Gia An's expertise in various programming languages and
                            frameworks is essential for creating scalable and efficient backend solutions. My technical
                            proficiency and innovative approach are crucial in driving our project forward, enhancing
                            both the reliability and performance of our system's backend operations.</h3>
                    </div>

                    <!-- board footer -->
                    <div class="board_footer">
                        <button>Close</button>
                    </div>
                </div>
            </div>


            <!-- body -->
            <main>
                <!-- member_img -->
                <div class="member">


                    <div class="Nhan">
                        <img src="/images/profiles/nhan.jpg" alt="Nhan" id="Nhan_img">
                        <div class="member_Nhan">
                            <h2>Nguyen Trong Nhan</h2>
                            <p>Click Image for more</p>
                        </div>

                    </div>
                    <div class="Duy">
                        <img src="/images/profiles/duy.jpg" alt="Duy" id="Duy_img">
                        <div class="member_Duy">
                            <h2>Nguyen Vu Duy</h2>
                            <p>Click Image for more</p>
                        </div>
                    </div>
                    <div class="Khang">
                        <img src="/images/profiles/khang.jpg" alt="Khang" id="Khang_img">
                        <div class="member_Khang">
                            <h2>Nguyen Huynh Gia Khang</h2>
                            <p>Click Image for more</p>
                        </div>
                    </div>
                    <div class="Thinh">
                        <img src="/images/profiles/thinh.jpg" alt="Thinh" id="Thinh_img">
                        <div class="member_Thinh">
                            <h2>Lu Duc Thinh</h2>
                            <p>Click Image for more</p>
                        </div>
                    </div>
                    <div class="An">
                        <img src="/images/profiles/an.jpg" alt="An" id="An_img">
                        <div class="member_An">
                            <h2>Cao Tran Gia An</h2>
                            <p>Click Image for more</p>
                        </div>
                    </div>


                </div>
            </main>


            <script>
                // Initial variable declarations
                let btn_close = document.querySelector('button');
                let wrapper_info = document.querySelector('.member_board');

                // Function to hide all member info panels
                function hideAllMemberInfoPanels() {
                    // Select all the member info panels
                    let member_info_panels = document.querySelectorAll('.member_board > .member_inner > div');
                    member_info_panels.forEach(panel => {
                        panel.classList.remove("show");
                        panel.classList.add("hide");
                        setTimeout(function () {
                            panel.classList.remove("hide");
                        }, 1000);
                    });
                }

                // Event listener for each member's image click
                document.querySelectorAll('.member img').forEach(img => {
                    img.addEventListener('click', function (e) {
                        hideAllMemberInfoPanels(); // Hide all panels first

                        let memberClass = e.target.alt + '_board'; // Construct the class name from the image alt attribute
                        let memberInfoPanel = document.querySelector('.' + memberClass);

                        wrapper_info.classList.add("show");
                        memberInfoPanel.classList.add("show");
                    });
                });

                // Event listener for the close button
                btn_close.addEventListener('click', function toggleClose(e) {
                    console.log(e.target);
                    hideAllMemberInfoPanels(); // Hide all panels when close button is clicked
                    wrapper_info.classList.remove("show");
                });

            </script>
            <%- include('partials/footer') %>
    </body>

    </html>