<link rel="stylesheet" href="/css/about_us.css">

<%- include('partials/header') %>

    <body>
        <%- include('partials/nav') %>
            <!--  member board -->
            <div class="member_board hide">
                <!-- whole board -->
                <div class="member_inner">
                    <!-- each member board -->
                    <div class="Nhan_board">
                        <h2>My name is Nguyen Trong Nhan aka Steven</h2>
                        <span>-----------------------------------------------------------------------------------------------------------------------------------------------------</span>
                        <h3>I'm a junior in my second year at RMIT HCM in Vietnam, where I'm following my love of coding
                            and athletics. I'm [Your Name], and I'm very happy to have this chance to tell you a little
                            bit about myself.

                            <p>I've had a profound affinity for two things since I can remember: code and football. Playing
                            football fosters a sense of togetherness and collaboration that brings me great joy and
                            fulfillment. I will always treasure the experience I had, which included the shared
                            victories, the strategic movements, and the adrenaline rush I had on the field. Football has
                            always been a big part of my life, whether it's a competitive game representing my school or
                            a recreational match with friends.
</p>
                            <p>However, the reason I find coding so fascinating is because of its boundless creative and
                            innovative potential. The ability of technology to improve our lives and solve problems
                            intrigues me continuously. I'm constantly excited to explore new coding opportunities and
                            broaden my skill set, whether it's creating a website, creating a mobile app, or delving
                            into the field of data science.</p>

                            <p>I'm appreciative of RMIT HCM for providing me with the chance to pursue my interests and
                            grow both intellectually and personally. My path as a student has been genuinely enhanced by
                            the different perspectives, encouraging community, and experiential learning opportunities.
                            Apart from my studies, I can frequently be found practicing football and relishing the
                            excitement of the game. And you might find me wandering the energetic city of Ho Chi Minh,
                            looking for new experiences and adventures, when I'm not playing sports or lost in lines of
                            code.
</p>
                            <p>I can't wait to get to know each of you and gain knowledge from our common experiences.
                            Please get in touch with me; I'm always up for a conversation on anything from sports to
                            coding!</p>


                            <p>Sincerely,</p>
                            <p>Nguyen Trong Nhan - Steven</p>
                        </h3>
                    </div>

                    <div class="Duy_board">
                        <h2>My name is Nguyen Vo Duy</h2>
                        <span>-----------------------------------------------------------------------------------------------------------------------------------------------------</span>
                        <h3>My information</h3>
                    </div>

                    <div class="Khang_board">
                        <h2>My name is Nguyen Huynh Gia Khang</h2>
                        <span>-----------------------------------------------------------------------------------------------------------------------------------------------------</span>
                        <h3>My information</h3>
                    </div>

                    <div class="Thinh_board">
                        <h2>My name is Lu Duc Thinh</h2>
                        <span>-----------------------------------------------------------------------------------------------------------------------------------------------------</span>
                        <h3>My information</h3>
                    </div>

                    <div class="An_board">
                        <h2>My name is Cao Tran Gia An</h2>
                        <span>-----------------------------------------------------------------------------------------------------------------------------------------------------</span>
                        <h3>My information</h3>
                    </div>

                    <!-- board footer -->
                    <div class="board_footer">
                        <button>Close</button>
                    </div>
                </div>
            </div>


            <!-- body -->
            <main>
                <!-- title of the mall -->
                <div class="mall_info">
                    <h3>
                        Welcome to our online mall, where the world is your marketplace! Our virtual shopping
                        destination
                        caters to a diverse community of store owners and shoppers, offering a seamless platform for
                        selling
                        and buying products from around the globe.</h3>
                </div>


                <!-- member_img -->
                <div class="member">


                    <div class="Nhan">
                        <img src="/images/product-6.jpg" alt="Nhan" id="Nhan_img">
                        <div class="member_Nhan">
                            <h2>Nguyen Trong Nhan</h2>
                            <p>Click Image for more</p>
                        </div>

                    </div>
                    <div class="Duy">
                        <img src="/images/product-6.jpg" alt="Duy" id="Duy_img">
                        <div class="member_Duy">
                            <h2>Nguyen Vu Duy</h2>
                            <p>Click Image for more</p>
                        </div>
                    </div>
                    <div class="Khang">
                        <img src="/images/product-6.jpg" alt="Khang" id="Khang_img">
                        <div class="member_Khang">
                            <h2>Nguyen Huynh Gia Khang</h2>
                            <p>Click Image for more</p>
                        </div>
                    </div>
                    <div class="Thinh">
                        <img src="/images/product-6.jpg" alt="Thinh" id="Thinh_img">
                        <div class="member_Thinh">
                            <h2>Lu Duc Thinh</h2>
                            <p>Click Image for more</p>
                        </div>
                    </div>
                    <div class="An">
                        <img src="/images/product-6.jpg" alt="An" id="An_img">
                        <div class="member_An">
                            <h2>Cao Tran Gia An</h2>
                            <p>Click Image for more</p>
                        </div>
                    </div>


                </div>
            </main>

            <%- include('partials/footer') %>

                <script>
                    // Initial variable declarations
                    let btn_close = document.querySelector('button');
                    let wrapper_info = document.querySelector('.member_board');

                    // Function to hide all member info panels
                    function hideAllMemberInfoPanels() {
                        // Select all the member info panels
                        let member_info_panels = document.querySelectorAll('.member_board > .member_inner > div');
                        member_info_panels.forEach(panel => {
                            panel.classList.remove("show");
                            panel.classList.add("hide");
                            setTimeout(function () {
                                panel.classList.remove("hide");
                            }, 1000);
                        });
                    }

                    // Event listener for each member's image click
                    document.querySelectorAll('.member img').forEach(img => {
                        img.addEventListener('click', function (e) {
                            hideAllMemberInfoPanels(); // Hide all panels first

                            let memberClass = e.target.alt + '_board'; // Construct the class name from the image alt attribute
                            let memberInfoPanel = document.querySelector('.' + memberClass);

                            wrapper_info.classList.add("show");
                            memberInfoPanel.classList.add("show");
                        });
                    });

                    // Event listener for the close button
                    btn_close.addEventListener('click', function toggleClose(e) {
                        console.log(e.target);
                        hideAllMemberInfoPanels(); // Hide all panels when close button is clicked
                        wrapper_info.classList.remove("show");
                    });

                </script>
    </body>

    </html>