
    <link rel="stylesheet" href="/css/copyright.css">

    <%- include('partials/header')%>
    <body>
    <%- include('partials/nav')%>

<!-- sidebar  -->
<div class="main-container">
    <aside class="sidebar">
        <ul class="menu">
            <li style="background-color: grey;"><a href="/copyright"><strong>Legal Information</strong></a></li>
            <li><a href="/fees">Fees</a></li>
            <li><a href="../contact/contact.html">Contact</a></li>
            <li><a href="../about_us/about_us.html">About Us</a></li>
        </ul>
    </aside>

    <div class="content">
        =    <ul class="terms-list">
            <!-- List of links as previously defined -->
        </ul>
    </div>
    

    <div class="terms-container">
        <h2> Legal Information</h2>
        <ul class="terms-list">
            <li><a href="tos.html">Terms of Service</a></li>
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
            <li><a href="operating-regulations.html">Operating Regulations</a></li>
            <li><a href="product-posting.html">Regulations on Posting Products for Sale</a></li>
            <li><a href="product-ban.html">Product Ban/Restriction Policy</a></li>
            <li><a href="shipping-policy.html"> Shipping Policy</a></li>
            <li><a href="return-policy.html">Return and Refund Policy</a></li>
            <li><a href="display-services.html">Terms of Use Display Services</a></li>
            <li><a href="mall-tos.html">Mall Terms of Service</a></li>
            <li><a href="shipping-cost.html">Service to Reduce Shipping Costs</a></li>
            <li><a href="dispute-resolution.html">Dispute Resolution/Complaint Handling Process</a></li>
            <li><a href="ip-rights.html">Processes and Procedures for Coordinating Intellectual Property Rights Holders</a></li>
            <li><a href="international-tos.html"> International Terms of Service</a></li>
            <li><a href="outside-tos.html">Terms of Service Display outside  Platform</a></li>
            <li><a href="spaylater.html">Terms and Conditions SPayLater Service for  Users</a></li>
            <li><a href="seasy-loan.html">Terms and Conditions Seasy Loan Seller Service</a></li>
            <li><a href="video-tos.html"> Video Terms of Service</a></li>
            <li><a href="video-standards.html"> Video Community Standards</a></li>
            <li><a href="anti-fraud.html">Anti-fraud Policy on  Platform and Handling Measures for Violating Sellers</a></li>
            <li><a href="insurance-service.html">Insurance Service Terms and Conditions</a></li>
            <li><a href="seasy-loan-consumer.html">Terms and Conditions of SEasy Consumer Loan Service</a></li>
        </ul>
    </div>
</div>
<&- include('partials/footer')&>
</body>
</html>