<%- include('partials/header') %> 
<link rel="stylesheet" href="/css/legal.css">
<link rel="stylesheet" href="/css/main.css">
<body>
<%- include('partials/nav') %>
    
    <div class="nav-container">
        <h1>Terms of Service</h1>
        <p>Welcome to You&MeShop! By using our website, you agree to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern You&MeShop's relationship with you in relation to this website.</p>
        <h2>Use of the Site</h2>
        <p>You agree to use the site for lawful purposes only and in a way that does not infringe the rights of, restrict, or inhibit anyone else's use and enjoyment of the site.</p>
        <h2>Modifications to the Service</h2>
        <p>You&MeShop reserves the right to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice at any time.</p>
        <h2>Governing Law</h2>
        <p>These terms and conditions are governed by and construed in accordance with the laws of Viet Nam and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
        <p>For more details, please contact us using the Contact Us form.</p>
    </div>

<%- include('partials/footer') %>
</body>
</html>