* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
  border: 2px solid rgb(152, 152, 152);
  padding: 40px 80px;
  border-radius: 30px;
  margin-top: 150px;
}

.btn{
  color: white;
  border: none;
  outline: none;
  background-color: orange;
  border-radius: 20px;
  padding: 15px 40px;
  cursor: pointer;
  margin-left: 280px;
}

.btn:hover{
  background-color: rgb(115, 91, 48);
}


#country{
  border: none;
  background-color: gray;
  padding: 20px;
  color: white;
  border-radius: 20px;
}

h1{
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.form-container {
    width: 300px;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .submit-btn:hover {
    background-color: #563434;
  }

.link {
  color: orange;
  text-decoration: none;
}

.link:hover{
  color: #563434;
  text-decoration: underline;
}
  p {
    margin-top: 15px;
  }