* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
  border: 2px solid gray;
  border-radius: 20px;
  padding: 20px 80px;
  margin: 40px 0;
}

.btn{
  outline: none;
  border: none;
  padding: 15px;
  margin-left: 80%;
  border-radius: 20px;
  background-color: orange;
  cursor: pointer;
  color: white;
}

.btn:hover{
  background-color: rgb(149, 122, 73);
}

.addition a{
  text-decoration: none;
  color: orange;
}

.container h1{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 20px;
  border-bottom: 2px solid gray;
}

.addition a:hover{
  color: rgb(141, 121, 83);
  text-decoration: underline;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .submit-btn:hover {
    background-color: #563434;
  }

.link {
  color: orange;
  text-decoration: none;
}

.link:hover{
  color: #563434;
  text-decoration: underline;
}
  p {
    margin-top: 15px;
  }