body {
    font-family: Arial, sans-serif;
    background-color: white;
}

header {
    background-color: orange;
    padding: 15px;
    margin: auto;
    text-align: center;
    color: white;
    width: 100%;
    
}

table {
    display: block;
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

footer {
    background-color: gray;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.contact-message {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
}

.contact-message a {
    color: #007BFF; 
    text-decoration: none;
}

.contact-message a:hover {
    text-decoration: underline; 
}

h2 {
    display: flex;
    width: 100%;
    text-align: center;
    margin-right: 50%
}

.main-container {
    display: flex;
    flex: 1;
}

.sidebar {
    flex: 0 0 200px;
    background-color: #FFF;
    padding: 20px;
    border-right: 1px solid #ddd; /* Phân cách sidebar với nội dung chính */
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}


.menu  {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li a,  li a {
    display: block;
    padding: 10px;
    color: orange; 
    text-decoration: none;
    border-bottom: 1px solid #eee; 
}

.menu li a:hover,  li a:hover {
    background-color: #f0f0f0; 
    color: #0056b3; 
}


